$light-gray: #D3D3D3;

$gray-dollar-sign: url('/assets/dollar-sign-gray.svg') scroll no-repeat;
$green-dollar-sign: url('/assets/dollar-sign-green.svg') scroll no-repeat;
$gray-star: url('/assets/gray-star.svg') scroll no-repeat;
$yellow-star: url('/assets/yellow-star.svg') scroll no-repeat;

.input-body {
    margin-top: 20px;
}

.input-field {
    border: none;
    // border: 1px solid lightgray;
    border-color: transparent;
    box-shadow: 0 0 0 1px $light-gray;
    outline: none;
    width: 100%;
    border-radius: 4px;
    padding: 5px;
    padding-right: -20px;
    @media screen and (max-width: 764px) {
        width: 400px;
    }
    &:focus {
        box-shadow: 0 0 0 2px black;
    }
}

.input-label {
    margin-bottom: 0px;
    font-size: 16px;
    margin-top: 4px;
}

textarea {
    resize: vertical;
}

.submit-btn {
    button {
        line-height: 45px;
        outline: none;
        border: 1px solid white;
        padding-top: 0px;
        padding-right: 15px;
        padding-left: 15px;
        // text-decoration: inherit;
        // color: inherit;
        height: 45px;
        color: white;
        border-radius: 2px;
        background: black;

        -webkit-transition: background 0.1s;
        -moz-transition: background 0.1s;
        -o-transition: background 0.1s;
        -ms-transition: background 0.11s;
        transition: background 0.1s;

        &:hover {
            background-color: white;
            color: black;
            border: 1px solid black;
            border-radius: 2px;
        }
    }
}

@mixin review-checkbox($disabled-background, $selected-background) {
    .radio-wrapper {
        display: inline-block;
        font-size: 0;
        vertical-align: middle;

        //Hide input, so we only show label.
        .radio-input {
            display: none;
        }

        .radio-label {
            margin-bottom: 0px;
            margin-top: 4px;
            float: right;
            width: 22px;
            height: 20px;
            background: $disabled-background;
        }
        &:hover {
            .radio-label {
                &:hover {
                    background: $selected-background;
                }
                &:hover ~ .radio-label {
                    background: $selected-background;
                }
            }
        }
    }

    //If checked, keep all the stars on clicked/selected.
    .radio-input:checked ~ .radio-label {
        background: $selected-background;
    }

    //Reset stuff on hover to blank
    .radio-wrapper:hover .radio-label {
        background: $disabled-background;
    }
}

.rating-div {
    @include review-checkbox($gray-star, $yellow-star);
}

.price-div {
    @include review-checkbox($gray-dollar-sign, $green-dollar-sign);

}





