body {
  height: 100%;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.header {
  border-bottom: solid gray 1px;

  .destinations {
    float: right;
    p {
      font-style: bold;
    }
  }
}

a {
  color: #00B7FF;
}

.map {
  height: 650px;
}

#map {
  position: absolute;
  height: 100%;
  width: 100%;
  margin: 0;
}

.review.active {
  display: block;
}

.review {
  display: none;
  margin-left: 30px;
  height: 650px;
  overflow: scroll;
  padding-right: 12px;

  .description {
    line-height: 90%;
    h3 {
      margin-top: 0;
    }
    .address {
      color: gray;
    }
    .rating {
      color: black;
      float: right;
    }
    .categories {
      font-style: italic;
    }
    .price {
      float: right;
      font-style: normal;
    }
  }
}
