<!DOCTYPE html>
<html>

<head>
    <meta charset=utf-8 />
    <title>füd</title>
    <link rel='stylesheet' href='/stylesheets/add.css' />
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css' integrity='sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7'
        crossorigin='anonymous'>
</head>

<body>
    <h1>Want to recommend a restaurant? Add it below!</h1>
    <div class="container input-body">
        <form method="post" action="/add/restaurant">
            <div class="form-group row">
                <label for="title" class="col-sm-2 col-form-label input-label">Title</label>
                <div class="col-sm-10">
                    <input type="text" name="title" class="input-field" id="title" placeholder="Restaurant Name">
                </div>
            </div>
            <div class="form-group row">
                <label for="address" class="col-sm-2 col-form-label input-label">Address</label>
                <div class="col-sm-10">
                    <input type="text" name="address" class="input-field" id="address" placeholder="Address">
                </div>
            </div>
            <div class="form-group row">
                <label for="category" class="col-sm-2 col-form-label input-label">Category</label>
                <div class="col-sm-10">
                    <input type="text" name="category" class="input-field" id="category" placeholder="American (New), Tacos, Vegetarian">
                </div>
            </div>
            <div class="form-group row">
                <label for="price" class="col-sm-2 col-form-label input-label">Price</label>
                <div class="col-sm-10 price-div">
                    <fieldset class="radio-wrapper" id="price-input">
                        <input type="radio" class="radio-input" id="price-input-5" name="price-input" value="5"><label for="price-input-5" class="radio-label"></label>
                        <input type="radio" class="radio-input" id="price-input-4" name="price-input" value="4"><label for="price-input-4" class="radio-label"></label>
                        <input type="radio" class="radio-input" id="price-input-3" name="price-input" value="3"><label for="price-input-3" class="radio-label"></label>
                        <input type="radio" class="radio-input" id="price-input-2" name="price-input" value="2"><label for="price-input-2" class="radio-label"></label>
                        <input type="radio" class="radio-input" id="price-input-1" name="price-input" value="1" checked="checked"><label for="price-input-1" class="radio-label"></label>
                    </fieldset>
                </div>
            </div>            
            <div class="form-group row">
                <label for="rating" class="col-sm-2 col-form-label input-label"> Rating</label>
                <div class="col-sm-10 rating-div">
                    <fieldset class="radio-wrapper" id="rating-input">
                        <input type="radio" class="radio-input" id="rating-input-5" name="rating-input" value="5"><label for="rating-input-5" class="radio-label"></label>
                        <input type="radio" class="radio-input" id="rating-input-4" name="rating-input" value="4"><label for="rating-input-4" class="radio-label"></label>
                        <input type="radio" class="radio-input" id="rating-input-3" name="rating-input" value="3"><label for="rating-input-3" class="radio-label"></label>
                        <input type="radio" class="radio-input" id="rating-input-2" name="rating-input" value="2"><label for="rating-input-2" class="radio-label"></label>
                        <input type="radio" class="radio-input" id="rating-input-1" name="rating-input" value="1" checked="checked"><label for="rating-input-1" class="radio-label"></label>
                    </fieldset>
                </div>
            </div>
            <div class="form-group row">
                <label for="review" class="col-sm-2 col-form-label input-label">Review</label>
                <div class="col-sm-10">
                    <textarea type="text" name="review" class="input-field" id="review" placeholder="Write your review here..."></textarea>
                </div>
            </div>
            <div class="form-group row">
                <div class="offset-sm-2 col-sm-2 submit-btn">
                    <button type="submit">Add Me!</button>
                </div>
            </div>
        </form>
    </div>

</body>




<!--Title: <input type="text" class="input-field" name="title"><br> Address: <input type="text" class="input-field" name="address"><br>Coordinates: <input type="text" class="input-field" name="coordinates"><br> Rating: <input type="text" class="input-field"
    name="rating"><br> Category: <input type="text" class="input-field" name="category"><br> Price: <input type="text" class="input-field"
    name="price"><br> Review: <input type="text" class="input-field" name="review"><br>
<input type="submit" value="Submit">-->