<!DOCTYPE html>
<html>

<head>
  <meta charset=utf-8 />
  <title>füd</title>
  <link rel='stylesheet' href='/stylesheets/main.css' />
  <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css' integrity='sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7'
    crossorigin='anonymous'>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/1.11.8/semantic.min.css" />
  <link rel='stylesheet' href='https://api.mapbox.com/mapbox.js/v2.4.0/mapbox.css' />
</head>

<body>
  <div class="container">
    <div class="row">
      <div class="col-md-12 nav-bar">
        <nav>
          <img class="logo" src="http://images.franchiseherald.com/data/thumbs/full/4734/570/0/0/0/american-express-logo.jpg">
          <button class="nav-item" onclick="searchRestaurants()">Search</button>
          <button class="nav-item large" onclick="changeNY()">New York</button>
          <button class="nav-item small" onclick="changeNY()">NY</button>          
          <button class="nav-item left large" onclick="changeLA()">Los Angeles</button>
          <button class="nav-item left small" onclick="changeLA()">LA</button>          
          <a class="nav-item right" href="/">Home</a>
          <a class="nav-item right" href="#">About</a>
        </nav>
      </div>
    </div>
  </div>
  <div class="container sub-nav">
    <div class="row">
      <div class="col-md-2">
        <span>Price: </span>
        <span>$ $ $ $ $</span><br>
      </div>
    </div>
    <div class="row">
      <div class="col-md-2">
        <span>Rating: </span> 
        <span>* * * * *</span>
      </div>
    </div>

    <div class="row">
      <div class="col-md-2">
        <span>Location: </span>
        <span>V R O O M</span><br>
      </div>
    </div>
  </div>
  <!--<div class="row">
      <div class="col-md-6">
        <h3>Find all the food spots we've been to!</h3>
        <button onclick="changeNY()">New York</button>
        <button onclick="changeLA()">Los Angeles</button>
      </div>
    </div>-->
  <div class="container">
    <div class="row">
      <div class="col-md-6 map">
        <div id='map'></div>
      </div>
      <div class="col-md-6 sidebar">
        <div class="review active" id="default">
          <div class="description">
            <h3>What are you waiting for?</h3>
            <p>Click on something to explore!</p>
          </div>
        </div>
        <div class="review" id="tacos-el-gordo">
          <div class="description">
            <h3>Tacos El Gordo</h3>
            <hr>
            <p class="address">689 H Street, Chula Vista, CA 91910 <span class="rating">✮✮✮✮✮</span></p>
            <p class="categories">Mexican, Tacos, Dank<span class="price">$</span></p>
            <hr>
          </div>
          <div class="content">
            <p>Lorem ipsum dolor sit amet, an nec nullam fabulas disputationi, nec no utinam fabulas, mundi antiopam evertitur
              nec et. Integre aliquando accommodare qui ut. Pri zril blandit te, alii alia sit te. Soluta nemore pertinacia
              ut vim, nam labores persequeris te. No cum habeo nemore, duo saepe oratio inimicus ut.</p>
            <p>An usu delenit luptatum, sea iudico utamur explicari cu. Errem iisque pri ei. Nostrum dolores delicata pri ei,
              in vix maiorum omittantur. Eu eum verear vocibus, et eius probo atomorum sit.</p>
            <p>Ius idque putent nostrum id, ei dicta congue assentior pro. Te suscipit sadipscing qui, quod nostrum qui no.
              Voluptaria interpretaris his id, sit albucius pertinacia definiebas ei. Id sed cibo facilisi.</p>
            <p>Ut nusquam vituperata pro, cu ludus iudicabit mei. Eum erat alienum tractatos an. Id sea rebum modus minim, putent
              invenire conclusionemque vis ut, an partem graece omittantur eam. Laoreet fierent tacimates ei nam. Ad velit
              deleniti reformidans nam. Per in novum deterruisset. An duo suas harum regione, an quem nobis eos.</p>
            <p>Ius natum dissentiunt complectitur at. Pri audire malorum suscipiantur in, animal voluptatibus ea eam, consequat
              intellegam in eam. Modus sanctus intellegam pro in, ad dicat mollis nec. Vel cu homero fastidii, ne has liber
              ancillae, atqui sonet possim no sed. Saperet adipisci argumentum ei vel, pro at ipsum timeam, appetere voluptaria
              persequeris at per. At ius oportere similique.</p>
            <p>Lorem ipsum dolor sit amet, an nec nullam fabulas disputationi, nec no utinam fabulas, mundi antiopam evertitur
              nec et. Integre aliquando accommodare qui ut. Pri zril blandit te, alii alia sit te. Soluta nemore pertinacia
              ut vim, nam labores persequeris te. No cum habeo nemore, duo saepe oratio inimicus ut.</p>
            <p>An usu delenit luptatum, sea iudico utamur explicari cu. Errem iisque pri ei. Nostrum dolores delicata pri ei,
              in vix maiorum omittantur. Eu eum verear vocibus, et eius probo atomorum sit.</p>
            <p>Ius idque putent nostrum id, ei dicta congue assentior pro. Te suscipit sadipscing qui, quod nostrum qui no.
              Voluptaria interpretaris his id, sit albucius pertinacia definiebas ei. Id sed cibo facilisi.</p>
          </div>
        </div>
        <div class="review" id="rigobertos">
          <div class="description">
            <h3>Rigoberto's</h3>
            <hr>
            <p class="address">7094 Miramar Rd, San Diego, CA 92121 <span class="rating">✮✮✮✮✮</span></p>
            <p class="categories">Mexican, Cali Burritos <span class="price">$</span></p>
            <hr>
          </div>
          <div class="content">
            <p>Lorem ipsum dolor sit amet, an nec nullam fabulas disputationi, nec no utinam fabulas, mundi antiopam evertitur
              nec et. Integre aliquando accommodare qui ut. Pri zril blandit te, alii alia sit te. Soluta nemore pertinacia
              ut vim, nam labores persequeris te. No cum habeo nemore, duo saepe oratio inimicus ut.</p>
            <p>An usu delenit luptatum, sea iudico utamur explicari cu. Errem iisque pri ei. Nostrum dolores delicata pri ei,
              in vix maiorum omittantur. Eu eum verear vocibus, et eius probo atomorum sit.</p>
            <p>Ius idque putent nostrum id, ei dicta congue assentior pro. Te suscipit sadipscing qui, quod nostrum qui no.
              Voluptaria interpretaris his id, sit albucius pertinacia definiebas ei. Id sed cibo facilisi.</p>
            <p>Ut nusquam vituperata pro, cu ludus iudicabit mei. Eum erat alienum tractatos an. Id sea rebum modus minim, putent
              invenire conclusionemque vis ut, an partem graece omittantur eam. Laoreet fierent tacimates ei nam. Ad velit
              deleniti reformidans nam. Per in novum deterruisset. An duo suas harum regione, an quem nobis eos.</p>
            <p>Ius natum dissentiunt complectitur at. Pri audire malorum suscipiantur in, animal voluptatibus ea eam, consequat
              intellegam in eam. Modus sanctus intellegam pro in, ad dicat mollis nec. Vel cu homero fastidii, ne has liber
              ancillae, atqui sonet possim no sed. Saperet adipisci argumentum ei vel, pro at ipsum timeam, appetere voluptaria
              persequeris at per. At ius oportere similique.</p>
            <p>Lorem ipsum dolor sit amet, an nec nullam fabulas disputationi, nec no utinam fabulas, mundi antiopam evertitur
              nec et. Integre aliquando accommodare qui ut. Pri zril blandit te, alii alia sit te. Soluta nemore pertinacia
              ut vim, nam labores persequeris te. No cum habeo nemore, duo saepe oratio inimicus ut.</p>
            <p>An usu delenit luptatum, sea iudico utamur explicari cu. Errem iisque pri ei. Nostrum dolores delicata pri ei,
              in vix maiorum omittantur. Eu eum verear vocibus, et eius probo atomorum sit.</p>
            <p>Ius idque putent nostrum id, ei dicta congue assentior pro. Te suscipit sadipscing qui, quod nostrum qui no.
              Voluptaria interpretaris his id, sit albucius pertinacia definiebas ei. Id sed cibo facilisi.</p>
          </div>
        </div>
        <div class="review" id="la-margarita">
          <div class="description">
            <h3>La Margarita</h3>
            <hr>
            <p class="address">157 Ludlow Street, New York, NY 10002 <span class="rating">✮✮✮✮✮</span></p>
            <p class="categories">Pizza, Italian <span class="price">$</span></p>
            <hr>
          </div>
          <div class="content">
            <p>Lorem ipsum dolor sit amet, an nec nullam fabulas disputationi, nec no utinam fabulas, mundi antiopam evertitur
              nec et. Integre aliquando accommodare qui ut. Pri zril blandit te, alii alia sit te. Soluta nemore pertinacia
              ut vim, nam labores persequeris te. No cum habeo nemore, duo saepe oratio inimicus ut.</p>
            <p>An usu delenit luptatum, sea iudico utamur explicari cu. Errem iisque pri ei. Nostrum dolores delicata pri ei,
              in vix maiorum omittantur. Eu eum verear vocibus, et eius probo atomorum sit.</p>
            <p>Ius idque putent nostrum id, ei dicta congue assentior pro. Te suscipit sadipscing qui, quod nostrum qui no.
              Voluptaria interpretaris his id, sit albucius pertinacia definiebas ei. Id sed cibo facilisi.</p>
            <p>Ut nusquam vituperata pro, cu ludus iudicabit mei. Eum erat alienum tractatos an. Id sea rebum modus minim, putent
              invenire conclusionemque vis ut, an partem graece omittantur eam. Laoreet fierent tacimates ei nam. Ad velit
              deleniti reformidans nam. Per in novum deterruisset. An duo suas harum regione, an quem nobis eos.</p>
            <p>Ius natum dissentiunt complectitur at. Pri audire malorum suscipiantur in, animal voluptatibus ea eam, consequat
              intellegam in eam. Modus sanctus intellegam pro in, ad dicat mollis nec. Vel cu homero fastidii, ne has liber
              ancillae, atqui sonet possim no sed. Saperet adipisci argumentum ei vel, pro at ipsum timeam, appetere voluptaria
              persequeris at per. At ius oportere similique.</p>
            <p>Lorem ipsum dolor sit amet, an nec nullam fabulas disputationi, nec no utinam fabulas, mundi antiopam evertitur
              nec et. Integre aliquando accommodare qui ut. Pri zril blandit te, alii alia sit te. Soluta nemore pertinacia
              ut vim, nam labores persequeris te. No cum habeo nemore, duo saepe oratio inimicus ut.</p>
            <p>An usu delenit luptatum, sea iudico utamur explicari cu. Errem iisque pri ei. Nostrum dolores delicata pri ei,
              in vix maiorum omittantur. Eu eum verear vocibus, et eius probo atomorum sit.</p>
            <p>Ius idque putent nostrum id, ei dicta congue assentior pro. Te suscipit sadipscing qui, quod nostrum qui no.
              Voluptaria interpretaris his id, sit albucius pertinacia definiebas ei. Id sed cibo facilisi.</p>
          </div>
        </div>
        <div class="review" id="bruin-plate-residential-restaurant">
          <div class="description">
            <h3>Bruin Plate Residential Restaurant</h3>
            <hr>
            <p class="address">350 Charles E Young Drive West, Los Angeles, CA 90095 <span class="rating">✮✮✮✮✮</span></p>
            <p class="categories">American (New), Vegan, Farm to Table <span class="price">$</span></p>
            <hr>
          </div>
          <div class="content">
            <p>Lorem ipsum dolor sit amet, an nec nullam fabulas disputationi, nec no utinam fabulas, mundi antiopam evertitur
              nec et. Integre aliquando accommodare qui ut. Pri zril blandit te, alii alia sit te. Soluta nemore pertinacia
              ut vim, nam labores persequeris te. No cum habeo nemore, duo saepe oratio inimicus ut.</p>
            <p>An usu delenit luptatum, sea iudico utamur explicari cu. Errem iisque pri ei. Nostrum dolores delicata pri ei,
              in vix maiorum omittantur. Eu eum verear vocibus, et eius probo atomorum sit.</p>
            <p>Ius idque putent nostrum id, ei dicta congue assentior pro. Te suscipit sadipscing qui, quod nostrum qui no.
              Voluptaria interpretaris his id, sit albucius pertinacia definiebas ei. Id sed cibo facilisi.</p>
            <p>Ut nusquam vituperata pro, cu ludus iudicabit mei. Eum erat alienum tractatos an. Id sea rebum modus minim, putent
              invenire conclusionemque vis ut, an partem graece omittantur eam. Laoreet fierent tacimates ei nam. Ad velit
              deleniti reformidans nam. Per in novum deterruisset. An duo suas harum regione, an quem nobis eos.</p>
            <p>Ius natum dissentiunt complectitur at. Pri audire malorum suscipiantur in, animal voluptatibus ea eam, consequat
              intellegam in eam. Modus sanctus intellegam pro in, ad dicat mollis nec. Vel cu homero fastidii, ne has liber
              ancillae, atqui sonet possim no sed. Saperet adipisci argumentum ei vel, pro at ipsum timeam, appetere voluptaria
              persequeris at per. At ius oportere similique.</p>
            <p>Lorem ipsum dolor sit amet, an nec nullam fabulas disputationi, nec no utinam fabulas, mundi antiopam evertitur
              nec et. Integre aliquando accommodare qui ut. Pri zril blandit te, alii alia sit te. Soluta nemore pertinacia
              ut vim, nam labores persequeris te. No cum habeo nemore, duo saepe oratio inimicus ut.</p>
            <p>An usu delenit luptatum, sea iudico utamur explicari cu. Errem iisque pri ei. Nostrum dolores delicata pri ei,
              in vix maiorum omittantur. Eu eum verear vocibus, et eius probo atomorum sit.</p>
            <p>Ius idque putent nostrum id, ei dicta congue assentior pro. Te suscipit sadipscing qui, quod nostrum qui no.
              Voluptaria interpretaris his id, sit albucius pertinacia definiebas ei. Id sed cibo facilisi.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <br><br><br><br>
</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/1.11.8/semantic.min.js"></script>
<script src='https://api.mapbox.com/mapbox.js/v2.4.0/mapbox.js'></script>
<script type="text/javascript" src="/javascripts/main.js"></script>
<script type="text/javascript" src="/javascripts/map.js"></script>

</html>