<!DOCTYPE html>
<html>
<head>
  <meta charset=utf-8 />
  <title>füd</title>
  <link rel='stylesheet' href='/stylesheets/main.css' />
  <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css' integrity='sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7' crossorigin='anonymous'>
  <link rel='stylesheet' href='https://api.mapbox.com/mapbox.js/v2.4.0/mapbox.css' />
</head>
<body>
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h3>Find all the food spots we've been to!</h3>
        <button onclick="changeNY()">New York</button>
        <button onclick="changeLA()">Los Angeles</button>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-8 map">
        <div id='map'></div>
      </div>
      <div class="col-md-4 sidebar">
        <h3>Dynamically a title here?</h3>
        <div id="info"></div>
<!--         Name
        Rating
        Location
        Description/review
 -->
      </div>
    </div>
  </div>
</body>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
  <script src='https://api.mapbox.com/mapbox.js/v2.4.0/mapbox.js'></script>
  <script type="text/javascript" src="/javascripts/map.js"></script>
</html>