<!DOCTYPE html>
<html>

<head>
  <meta charset=utf-8 />
  <title>füd</title>
  <link rel='stylesheet' href='/stylesheets/main.css' />
  <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css' integrity='sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7'
    crossorigin='anonymous'>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/1.11.8/semantic.min.css" />
  <link rel='stylesheet' href='https://api.mapbox.com/mapbox.js/v2.4.0/mapbox.css' />
</head>

<body>
  <div class="container">
    <div class="row nav-row">
      <div class="col-md-12 nav-bar">
        <nav>
          <img class="logo" src="http://images.franchiseherald.com/data/thumbs/full/4734/570/0/0/0/american-express-logo.jpg">
          <button class="nav-item" onclick="searchRestaurants()">Search</button>
          <button class="nav-item large" onclick="changeNY()">New York</button>
          <button class="nav-item small" onclick="changeNY()">NY</button>
          <button class="nav-item left large" onclick="changeLA()">Los Angeles</button>
          <button class="nav-item left small" onclick="changeLA()">LA</button>
          <a class="nav-item right" href="/">Home</a>
          <a class="nav-item right" href="/about">About</a>
        </nav>
      </div>
    </div>
  </div>
  <div class="container sub-nav">
    <div class="row">
      <div class="col-md-2">
        <span>Price: </span>
        <span>$ $ $ $ $</span><br>
      </div>
    </div>
    <div class="row">
      <div class="col-md-2">
        <span>Rating: </span>
        <span>* * * * *</span>
      </div>
    </div>
    <div class="row">
      <div class="col-md-2">
        <span>Location: </span>
        <span>V R O O M</span><br>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-6 map">
        <div id='map'></div>
      </div>
      <div class="col-md-6 sidebar">
        <div class="review active" id="default">
          <div class="description">
            <h3>What are you waiting for?</h3>
            <p>Click on something to explore!</p>
          </div>
        </div>
        <div class="review-placeholder review"></div>
        <script id="review-template" type="text/x-handlebars-template">
          <div class="description">
            <h3>{{title}}</h3>
            <hr>
            <p class="address">{{address}}<span class="rating">{{rating}}</span></p>
            <p class="categories">{{category}}<span class="price">{{price}}</span></p>
            <hr>
          </div>
          <div class="content">
            {{{content}}}
          </div>
        </script>
      </div>
    </div>
  </div>
  <br><br><br><br>
</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/1.11.8/semantic.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/2.0.0/handlebars.js"></script>
<script src='https://api.mapbox.com/mapbox.js/v2.4.0/mapbox.js'></script>
<script type="text/javascript" src="/javascripts/main.js"></script>
<script type="text/javascript" src="/javascripts/map.js"></script>


</html>