.input-body {
  margin-top: 20px; }

.input-field {
  border: none;
  border-color: transparent;
  box-shadow: 0 0 0 1px #D3D3D3;
  outline: none;
  width: 100%;
  border-radius: 4px;
  padding: 5px;
  padding-right: -20px; }
  @media screen and (max-width: 764px) {
    .input-field {
      width: 400px; } }
  .input-field:focus {
    box-shadow: 0 0 0 2px black; }

.input-label {
  margin-bottom: 0px;
  font-size: 16px;
  margin-top: 4px; }

textarea {
  resize: vertical; }

.submit-btn button {
  line-height: 45px;
  outline: none;
  border: 1px solid white;
  padding-top: 0px;
  padding-right: 15px;
  padding-left: 15px;
  height: 45px;
  color: white;
  border-radius: 2px;
  background: black;
  -webkit-transition: background 0.1s;
  -moz-transition: background 0.1s;
  -o-transition: background 0.1s;
  -ms-transition: background 0.11s;
  transition: background 0.1s; }
  .submit-btn button:hover {
    background-color: white;
    color: black;
    border: 1px solid black;
    border-radius: 2px; }

.rating-div .radio-wrapper {
  overflow: hidden;
  display: inline-block;
  font-size: 0;
  position: relative;
  vertical-align: middle; }
  .rating-div .radio-wrapper .radio-input {
    display: none; }
  .rating-div .radio-wrapper .radio-label {
    margin-bottom: 0px;
    margin-top: 4px;
    position: relative;
    float: right;
    display: block;
    text-align: right;
    width: 22px;
    height: 20px;
    background: url("/assets/gray-star.svg") scroll no-repeat; }
  .rating-div .radio-wrapper:hover .radio-label:hover {
    background: url("/assets/yellow-star.svg") scroll no-repeat; }
  .rating-div .radio-wrapper:hover .radio-label:hover ~ .radio-label {
    background: url("/assets/yellow-star.svg") scroll no-repeat; }

.rating-div .radio-input:checked ~ .radio-label {
  background: url("/assets/yellow-star.svg") scroll no-repeat; }

.rating-div .radio-wrapper:hover .radio-label {
  background: url("/assets/gray-star.svg") scroll no-repeat; }

.price-div .radio-wrapper {
  overflow: hidden;
  display: inline-block;
  font-size: 0;
  position: relative;
  vertical-align: middle; }
  .price-div .radio-wrapper .radio-input {
    display: none; }
  .price-div .radio-wrapper .radio-label {
    margin-bottom: 0px;
    margin-top: 4px;
    position: relative;
    float: right;
    display: block;
    text-align: right;
    width: 22px;
    height: 20px;
    background: url("/assets/dollar-sign-gray.svg") scroll no-repeat; }
  .price-div .radio-wrapper:hover .radio-label:hover {
    background: url("/assets/dollar-sign-green.svg") scroll no-repeat; }
  .price-div .radio-wrapper:hover .radio-label:hover ~ .radio-label {
    background: url("/assets/dollar-sign-green.svg") scroll no-repeat; }

.price-div .radio-input:checked ~ .radio-label {
  background: url("/assets/dollar-sign-green.svg") scroll no-repeat; }

.price-div .radio-wrapper:hover .radio-label {
  background: url("/assets/dollar-sign-gray.svg") scroll no-repeat; }
